<table>
  <tr>
    <th>Name</th>
    <th>Parent Category</th>
    <th>No. of Products</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.parent.name if category.sub_category? %></td>
      <td><%= category.products_count %></td>
    </tr>
  <% end %>
</table>