<h1>Welcome</h1>
<p>
  It's <%= Time.now %>.
  We have <%= pluralize(@total_orders, "order") %>.
</p>
<h3>categories</h3>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %></li>
      <ul>
        <% category.sub_categories.each do |sub_category| %>
          <li><%= sub_category.name %></li>
        <% end %>
      </ul>
  <% end %>
</ul>